{% extends 'tags/base.html' %}

{% block content %}
    <h1>{{title}}</h1>
    <a class="back" href="/">назад</a>
    <form action="{% url 'editnote' note_id=n.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}


    <button type="submit">Применить изменения</button>
    <button type="reset">Отменить изменения</button>
</form>
<br>
<div class="deletenote">
    <a href="{% url 'deletenote' note_id=n.id %}">Удалить заметку</a>
</div>
{% endblock %}
